<%inherit file="layout/layout.html" />

<h1>New life as Newtifry</h1>

<p>Notifry is dead, welcome to newtifry</p>

<p>Thanks to Daniel Foote (Notifry developper) for his work.</p>

<h1>What is Newtifry?</h1>

<p>Newtifry is a push notification service to send server notifications to Android
Mobile phones, running Android 2.2 or later. It uses Google Cloud Messaging APIs.</p>

<p>It is intended to replace notifications sent by SMS. SMS cost money to send,
and for single user applications (like personal Nagios servers) this can give you
real time notifications for free.</p>

<p>Unlike other systems that do the server monitoring for you, Newtifry is just
intended to get the message to the phone - and no more. Newtifry is meant to be
very simple and just focus on getting the notifications to the phone. You can
plug Newtifry into your existing monitoring system to get the notifications
going. Users supply the system administrators with a single unique key that
identifies at message source, which they can enable or disable at will.</p>

<h2>How much and where do I get it?</h2>

<p>Newtifry is free, and <a href="">all the code will be available soon </a> under the Apache 2 License.</p>

<p>Newtifry is not yet avalaible in the Android market. To install it, download the apk <a href="https://docs.google.com/file/d/0B3rA697hnAZrYXRPRzFDZXNEbW8/edit?usp=sharing">here</a>. You might also like to read
the simple <a href="/page/gettingstarted">getting started</a> guide.</p>

<p>Before use, please see our <a href="/page/privacy">privacy policy</a> and
<a href="/page/sla">service level agreement.</a></p>

<h2>Got questions?</h2>

<p>Head on over to the <a href="/page/faq">frequently asked questions</a> page
and see if your question is answered. If not, send an email and we'll see what
we can fix.</p>